<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  
<div id="navbar"> 
    <nav>
        <ul>
            <li><a href="#"></a>Home</li>
            <li><a href="#"></a>Department</li>
            <li><a href="#"></a>Services</li>
            <li><a href="#"></a>About</li>
            <li><a href="#"></a>Contact</li>
        </ul>
    </nav>
    
</div>
<h2> Welcome To Park Management Services</h2>    

<div>
    <form id="form-1">
    <div class="user-div"><label for="userid">UserID:</label>
        <input type="text" name="userid" id="userid">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </div>
    <button id="sub-button"><a href="{{ url_for('login')}}"> Log In </a></button> 
    </form>
</div>
</body>
</html>